:root{
    --bg-color-prim:#171717;
    --text-color-p:#282828;
    --text-title-prim:#ededed;
    --text-lnk:#f31010;
    --text-span:#f31010;
    --btn-enabled:#f31010;
    --btn-disabled:#d64242;
}